html {
    background-color: #FEFEFE;
}

body {
    background-color: #FFFFFF;
    font-size: 1.0em;
    font-family: Verdana,sans-serif;
    color: #121212;
}

header {
    height: 100px;
    border-bottom: 1px solid #ACACAC;
    margin-bottom: 15px;
    width: 100%;
}

h1 {
    font-size : 2em;
    color : #232323;
}

nav {
    text-align: center;
    width: 100%;
}

nav a {
    font-weight : bold;
    color : #0776A0;
    text-decoration : none;
}

nav a:hover {
    color : #7776A0;
}

nav a.active {
    color : #121212;
}

nav ul {
    list-style-type : none;
    margin : 0px;
    padding : 0;
}
 
nav li {
    display : inline;
}

aside {
    float : left;
    width : 320px;
    margin-right: 20px;
    margin-bottom : 15px;
    background-color : #D0D0D0 ;
    padding : 5px;
    border : 1px solid #A8A8A8;
}

article,
section {
    display: none;
}

section.active {
    display: block;
}

footer {
    text-align: center;
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid #ACACAC;
}

#log-container {
    text-align: center;
}

.visible {
    display: block;
    visibility: visible;
}

.section_content {
    display: none;
    padding: 6px 12px;
    border: 0px;
    text-align: justify;
}