$textColor: rgb(75, 75, 75);
$resultTextColor: rgb(126, 126, 126);
$fontSize: 1rem;

body {
    font-family: "Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: $fontSize;
    font-weight: 400;
    line-height: 1.5;
    color: $textColor;
    text-align: left;
}

.center {
    text-align: center;
}

.container {
    max-width: 100%;
    box-sizing: border-box;
}

.form-control {
    display: inline;
    width: 100px;
    height: 34px;
    font-size: $fontSize;
    line-height: 1.5;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
}

.main-image {
    height: 64px;
    width: 64px;
    margin-bottom: 24px;
}

.result {
    color:$resultTextColor
}
