/* Based on https://jsfiddle.net/octxm0p4/ */
.currency {
    text-transform: uppercase;
    font-family:'Anton', sans-serif;
    font-size: 1.2em;
    display: inline-block;
    white-space: nowrap;
    animation: floatText 15s infinite linear;
    padding-left: 100%; /*Initial offset*/
    color:#303030;
}

.currency:hover {
    animation-play-state: paused;
}

.diff-positive {
    color: green
}

.diff-negative {
    color: red
}

@keyframes floatText {
    to {
        transform: translateX(-100%);
    }
}